name: github workflow
on: [push]
jobs: 
  build: 
    name: Build 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet
      with: 
        dotnet-version: 5.0.x
    - run: dotnet build